@page "/"

<PageTitle>Index</PageTitle>

<div class="container py-5">
    <h1 class="mb-4">Welcome to the Brotato Tracker</h1>
    <p class="lead">Keep your progress in check with the Brotato Tracker, designed by <a href="https://twitch.tv/danbopes" target="_blank">Danbopes</a>. Special thanks to <a href="https://twitch.tv/celerity" target="_blank" class="text-light">Celerity</a> for their invaluable assistance in developing this tracker.</p>
    <p>If you appreciate my work and want to support further improvements, consider becoming a patron <a href="https://www.patreon.com/mtgbot" target="_blank" class="text-light">here</a>.</p>
</div>

@*
<p>Welcome to the Brotato Tracker, designed by Danbopes. Special thanks to <a href="https://twitch.tv/celerity" target="_blank" style="text-decoration: underline">Celerity</a> who assisted in the development of the tracker.</p>

<p>If you like my work, please consider becoming a patreon <a href="https://www.patreon.com/mtgbot" target="_blank" style="text-decoration: underline">here</a>.</p>
*@