@page "/"

<PageTitle>Index</PageTitle>

<p>Welcome to the Brotato Tracker, designed by Danbopes.</p>

<p>If you like my work, please consider becoming a patreon <a href="https://www.patreon.com/mtgbot" target="_blank" style="text-decoration: underline">here</a>.</p>