@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
    
<div class="container">
  <footer class="my-2">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="policies/privacy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
      <li class="nav-item"><a href="policies/cookies" class="nav-link px-2 text-muted">Cookie Policy</a></li>
      <li class="nav-item"><a href="https://github.com/danbopes/BrotatoServer" target="_blank" class="nav-link px-2 text-muted">Source Code</a></li>  
    </ul>
    <p class="text-center text-muted">© @DateTime.Now.Year Brotato Tracker by MTGBot</p>
  </footer>
</div>
