@page "/runs/{RunId}"

@using BrotatoServer.Data;
@using BrotatoServer.Models.JSON;
@inject IRunRepository RunRepository
@inject NavigationManager NavManager

<PageTitle>Current Run</PageTitle>

@if (fetched)
{
    @if (runData != null)
    {
        <RunDataView RunData="@runData" TwitchClip="@twitchClip" />
    }
    else
    {
        <p>No run found with that ID</p>
    }
}
else
{
    <p>Loading...</p>
}



@code {
    [Parameter]
    public string TwitchUsername { get; set; }
    [Parameter]
    public string RunId { get; set; }

    private RunData? runData;
    private string? twitchClip;
    private bool fetched;

    protected override async Task OnInitializedAsync()
    {
        if (!Guid.TryParse(RunId, out var guid))
        {
            fetched = true;
            return;
        }

        var run = await RunRepository.GetRunAsync(guid);

        runData = run?.RunData;
        twitchClip = run?.TwitchClip;

        fetched = true;

    }
}
