@page "/runs/{RunId}"

@using BrotatoServer.Data;
@using BrotatoServer.Models.JSON;
@inject IRunRepository RunRepository
@inject NavigationManager NavManager

<PageTitle>Current Run</PageTitle>

@if (Fetched)
{
    @if (RunData != null)
    {
        <RunDataView RunData="@RunData" CustomData="@CustomData" TwitchClip="@TwitchClip" />
    }
    else
    {
        <p>No run found with that ID</p>
    }
}
else
{
    <p>Loading...</p>
}



@code {
    [Parameter]
    public string TwitchUsername { get; set; }
    [Parameter]
    public string RunId { get; set; }

    private RunData? RunData { get; set; }
    private CustomData? CustomData { get; set; }
    private string? TwitchClip { get; set; }
    private bool Fetched { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!Guid.TryParse(RunId, out var guid))
        {
            Fetched = true;
            return;
        }

        var run = await RunRepository.GetRunAsync(guid);

        RunData = run?.RunData;
        CustomData = run?.CustomData;
        TwitchClip = run?.TwitchClip;

        Fetched = true;

    }
}
