<div class="popover__wrapper">
    @TriggerContent
    <div class="popover__content @Class">
        @PopoverContent
    </div>
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment TriggerContent { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment PopoverContent { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }
}
