
/*
 * Stats
 */

.stats-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 240px;
    font-size: 16px;
    float: right;
}

.stats-container tr.current-level td {
    padding-bottom: 15px;
}

.stats-container .neg {
    color: #f00;
}

.stats-container .pos {
    color: #0f0;
}

.stats-container td.stat-value {
    text-align: right;
    white-space: nowrap;
}

.stats {
    width: 100%;
}

.stats.secondary {
    font-size: 14px;
}

.stats img {
    width: 20px;
    height: 20px;
}